*.xcuserstate
xcuserdata
*/.DS_Store
.DS_Store
project.xcworkspace
*.xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
DerivedData/
*.xcodeproj/xcuserdata
*xcworkspace/xcuserdata/*
*/xcuserdata/*